<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="spring.gizatullin.services.QuizServiceConsole">
        <constructor-arg ref="questionsSource"/>
    </bean>
    <bean id="questionsSource" class="spring.gizatullin.services.QuestionsSourceCsv">
        <constructor-arg name="csvSource" value="questions.csv"/>
    </bean>
</beans>
